body {
    background-color: rgb(210, 245, 233);
    width: 800px; 
    margin-left: auto;
    margin-right: auto;
    font-family: sans-serif; 
}

div#game {
    background-color: rgb(66, 83, 80);
    border:#999 1px solid;
	width:800px;
	height:540px;
	padding:24px;
	margin:0px auto;
}

div#cards {
    background-color: rgb(220, 255, 252);
	border:#000 1px solid;
	width:71px;
	height:71px;
	float:left;
	margin:10px;
	padding:20px;
	font-size:64px;
	cursor:pointer;
	text-align:center;
}

.dropbtn {
    background-color: rgb(134, 155, 153);
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
  }
  
.dropdown {
    position: relative;
    display: inline-block;
  }
  
.content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
.content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
.content a:hover {background-color: #ddd;}
  
.dropdown:hover .content {display: block;}
  
.dropdown:hover .dropbtn {background-color: #9acecf;}

