body {
    background-image: url(./images/bg.png);
    text-align: center;
}

#wrapper{
    position: absolute;
    left:50%;
    top: 50%;
    transform:  translate(-50%, -50%);
}

h1 {
    position: absolute;
    text-align: left;
    font-family: 'Times New Roman', Times, serif;
    color: white;
    top: 70px;
    left: 60px;
}

.stern1 {
    position: absolute;
    top: 55%;
    left: 37%;
}

.stern1:hover {
    background-image: url(./images/stern_hover.png);
}



.stern2 {
    position: absolute;
    top: 48%;
    left: 44%;
}

.stern2:hover {
    background-image: url(./images/stern_hover.png);
}



.stern3 {
    position: absolute;
    top: 60%;
    left: 52%;
}

.stern3:hover {
    background-image: url(./images/stern_hover.png);
}


.stern4 {
    position: absolute;
    top: 48%;
    left: 60%;
}

.stern4:hover {
    background-image: url(./images/stern_hover.png);
}