body {
    background-image: url(./images/bg.jpg);
    text-align: center;
}

#wrapper {
    position: absolute;
    width: 100%;
}

/*--desktop--*/

@media screen and (min-width:600px) {

h1 {
    position: absolute;
    text-align: center;
    width: 90%;
    top:30%;
    left: 5%;
    color: blanchedalmond;
    font-family: Georgia, 'Times New Roman', Times, serif;
}


.button {
    position: absolute;
    text-align: center;
    width: 90%;
    top: 100%;
    left: 5%;
}







}    
