body {
    background-image: url(./images/bg.png);
    text-align: center;
}

#wrapper{
    position: absolute;
    left:50%;
    top: 50%;
    transform:  translate(-50%, -50%);
}

.busch {
    position: absolute;
    top: -60px;
    left: -70px;
}


.pinguin {
    position: absolute;
    bottom: -20px;
    right: -20px;
}

h1{
    position: absolute;
    text-align: left;
    font-family: sans-serif;
    color: white;
    top: 70px;
    left: 60px;
}

p{
    position: absolute;
    text-align: left;
    font-family: sans-serif;
    color: white;
    top: 170px;
    left: 60px;
}

