body{
    background-image: url(./images/bg.png);
}

#wrapper{
    position: absolute;
    left:50%;
    top: 50%;
    transform:  translate(-50%, -50%);
}

@font-face {
    font-family: myfont;
    src: url(./fonts/Jellyka\ Delicious\ Cake.ttf);
}

.text {
    font-family: myfont;
    position: absolute;
    top: 25%;
    left: 35%;
    font-size: 20px;
    color: indigo;
}
